<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("09b1fcdb-f162-44c6-8774-219c2d45d3e3");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
